interactions:
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/search/code?per_page=5&q=totally-unrelated-service-xyz+repo%3Agoogleapis%2Fgoogleapis+path%3Agoogle%2Fcloud
  response:
    body:
      string: "{\n  \"message\": \"Requires authentication\",\n  \"errors\": [\n    {\n
        \     \"message\": \"Must be authenticated to access the code search API\",\n
        \     \"resource\": \"Search\",\n      \"field\": \"q\",\n      \"code\":
        \"invalid\"\n    }\n  ],\n  \"documentation_url\": \"https://docs.github.com/rest/search/search#search-code\",\n
        \ \"status\": \"401\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '57'
      X-RateLimit-Reset:
      - '1764698325'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '3'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 401
      message: Unauthorized
version: 1
